<div class="mt-4">
  <div class="d-flex justify-content-center">
    <%= link_to pets_path, class: "btn-filter" do %>
      <div class="btn-content">
        <%= image_tag("dog.png", alt: "Pets", class: "btn-image") %>
        <span class="btn-filter-text">All</span>
      </div>
    <% end %>

    <%= link_to dogs_path, class: "btn-filter" do %>
      <div class="btn-content">
        <%= image_tag("dog.png", alt: "Dogs", class: "btn-image") %>
        <span class="btn-filter-text">Dogs</span>
      </div>
    <% end %>

    <%= link_to cats_path, class: "btn-filter" do %>
      <div class="btn-content">
        <%= image_tag("cat.png", alt: "Cats", class: "btn-image") %>
        <span class="btn-filter-text">Cats</span>
      </div>
    <% end %>
  </div>

  <div class="container py-5">
    <h1 class="text-center">Pets</h1>

    <div class="row justify-content-center">
      <% @pets.each do |pet| %>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <div class="card card-product">
            <%= cl_image_tag(pet.image.key || "default-pet-image.jpg", class: "card-img-top") %>
            <div class="card-body">
              <h2 class="card-title"><%= pet.name %></h2>
              <p class="card-text"><%= pet.age %> <%= 'years old' %></p>
              <p class="card-text"><%= pet.breed.capitalize %></p>
              <button class="btn btn-flat">
                <%= link_to "#{pet.name}'s profile", pet_path(pet) %>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-flat">
        <%= link_to 'Add a new pet', new_pet_path %>
      </button>
    </div>
  </div>
</div>
