
<div>
<div class="container d-flex flex-column align-items-center " >
  <div class="card-pet-profile d-flex flex-column align-items-center mt-5">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"class="m-2 rounded" />
    <div class="card-pet-profile-infos pt-3 d-flex flex-column align-items-center">
      <div>
        <h2>Meet <%= @pet.name %></h2>
        <p><%= @pet.name %> IS A VERY GOOD DOG<%= @pet.description %></p>
      </div>
      <button class="btn btn-back ">
          <%= link_to 'Select Pet!', new_user_session_path %> <i class="fa fa-paw" aria-hidden="true"></i>
        </button>
    </div>
  </div>
</div>
<button class="btn btn-back">
  <%= link_to 'Go back', pets_path %> <i class="fa fa-paw" aria-hidden="true"></i>
</button>
</div>
