<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="d-flex flex-column align-items-center">
    <%= link_to pets_path, class: "btn btn-back me-auto" do %>
      <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
      <i class="fa fa-paw" aria-hidden="true"></i>
    <% end %>
    <div class="card-pet-profile d-flex flex-column align-items-center pt-3" style="height: 600px; width: 350px;"> <!-- fixed height and width -->
      <%= image_tag(@pet.image_url  || "homepage.jpeg", class:"mt-2", style: "border-radius: 20px;" ) %>
      <div class="card-pet-profile-infos pt-3 ">
        <div>
          <h2 class="pb-1 fs-4 mt-3">Meet <%= @pet.name %></h2>
          <p class="pt-1 m-0 fs-5">Age: <%= @pet.age %> years</p>
          <p class="p-0 m-0 fs-5">Breed: <%= @pet.breed %></p>
          <p class="p-0 m-0 fs-5"><%= @pet.description %></p>
          <p class="p-0 m-0 fs-5"><%= @pet.owner.full_name %> is the owner</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row gap-3">
    <%= link_to new_user_session_path, class: "btn btn-back mt-3" do %>
      Select Pet! <i class="fa fa-paw" aria-hidden="true"></i>
    <% end %>
    <%= link_to pet_path(@pet.id), data: { turbo_method: 'delete' }, class: "btn btn-back mt-3" do %>
      Delete <i class="fa fa-paw" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
