<div class="container">
    <div class="d-flex align-items-center gap-4">
      <%= link_to pets_path, class: "btn btn-back" do %>
        <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
        <i class="fa fa-paw" aria-hidden="true"></i>
      <% end %>

      <h1 class="mb-0" style="color: #A09F9F;">My bookings</h1>
    </div>

    <% @bookings.each do |booking| %>
     <div class="card-booking mt-3">
        <h2 class="ms-3 mt-3 text-center"><%= booking.pet.name %></h2>
        <p><%= booking.user.full_name %></p>
          <div class="d-flex align-items-center gap-3 ms-3">
            <i class="fa-solid fa-calendar fa-xs"></i>
            <p class="mb-0"><%= booking.start_date_time %> <%= "to" %> <%= booking.end_date_time %></p>
          </div>
            <button class="btn btn-show mx-auto d-block"><%= link_to 'Show', booking_path(booking) %></button>
    </div>
      <% end %>
</div>
