<div class="">
  <img src="/app/assets/images/homepage.jpeg"/>
  <div class="">
    <div>
      <h2><%= @user.first_name %></h2>
      <p><%= @user.last_name %></p>
      <p><%= @user.address %></p>
    </div>
  </div>
</div>


<%= link_to 'Edit Profile', profile_edit_path %>
<%= link_to 'Go back', root_path %>
