<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :species %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.input :image_url, as: :file %>
  </div>

<div class="btn btn-flat form-action">
  <%= f.button :submit %>
</div>
<% end %>
